* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Arial, sans-serif;
  color: #333;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-clients{
  width: 80%;
}